# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
*.exe
*.dll
*.pdb

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# Others
*.cache
*.log
*.vsidx
*.db
